@model IEnumerable<music_taste_based_radio_discovery.Models.ProgramModel>

@if (Model.Any())
{
    <!-- top 3 programs -->
    <div class="row small-up-1 medium-up-2 large-up-3">
        @foreach (var program in Model.Take(3))
        {
            <div class="column" data-programId="@program.Id">
                @if (!program.ImageUrl.IsEmpty())
                {
                    <a href="@program.Url" target="_blank">
                        <img src="@program.ImageUrl" class="thumbnail" alt=""/>
                    </a>
                }
                else
                {
                    <img src="http://sverigesradio.se/sida/images/1120/c628157b-f5f5-4c7c-b26e-451c31b4f296.jpg?preset=api-default-square" class="thumbnail" alt=""/>
                }

                <h5 class="header-item">
                    <a href="@program.Url" class="thumbnail__artist-name" target="_blank">@program.Name</a>
                </h5>

                <p class="result-item_information" >
                    <span class="artist-" style="font-weight: bold;">Spelade artister: </span>
                    <span>Spelar @string.Join(", ", program.Artists)</span>
                </p>

            </div>
        }
    </div>

    <!-- rest of the recommended programs -->
    <div class="row small-up-2 medium-up-4 large-up-6">
        @foreach (var program in Model.Skip(3))
        {
            <div class="column program-contianer" data-programId="@program.Id">
                @if (!program.ImageUrl.IsEmpty())
                {
                    <a href="@program.Url" target="_blank">
                        <img src="@program.ImageUrl" class="thumbnail program-image" alt=""/>
                    </a>
                }
                else
                {
                    <img src="http://sverigesradio.se/sida/images/1120/c628157b-f5f5-4c7c-b26e-451c31b4f296.jpg?preset=api-default-square" class="thumbnail" alt="" />
                }

                <h6 class="header-item">
                    <a href="@program.Url" class="thumbnail__artist-name" target="_blank">@program.Name</a>
                </h6>
            </div>
        }
    </div>
}
else
{
    <h5>Oops..</h5>
    <p>Vi kunde inte hitta några program baserade på dina populära artister från Spotify.</p>
}